body{
    background-image: url("http://i328.photobucket.com/albums/l338/Bot_Seeran/chalk_zpsjxm1gndv.jpg");
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
}
table, th, td{
    border: 4px solid black;
    margin: 25px;
    padding: 25px;
    text-align:center;
}

tr{
    font-size: 24px;
}

#answer{
    font-size:24px;
    font-weight:bold;
}

#userInput{
    text-align: center;
}    


#answer{
    text-align: center;
}