body{
    background-image: url("http://www.pretentiousname.com/themes/images/Nudel-Grey-Light.png");
    text-align:center;
}

img{
    width: 250px;
}

h1{
    font-weight: bold;
    font-size: 40px;
}

h2{
    font-weight: bold;
    font-size: 25px;
    color: red;
}

h3{
    color: blue;
    position: absolute;
    right: 75px;
}