body{
    background-image: url("http://24.media.tumblr.com/24885b513f2b5994a0546ef779a28315/tumblr_mx79er9TfX1sy8acxo1_500.gif");
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
}
h1{
    text-align:center;
    font-variant: small-caps;
    font-weight:bold;
    font-size:40px;
}
h2{
    font-size:30px;
    font-family: cursive;
}

#TableofContents a{
    font-weight:bold;
    color: #00008B;
}


#toc{
    margin-right: 75%;
    padding: 10px;
    border: 2px dashed black ;
    background-color: green;
}

#toc-t{
    position: relative;
    left: 10px;
}


#author{
    border: 5px solid black;
    background-color: green;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
}

#author-t{
    text-align: center;
}

#author-p{
    margin-left: 20%;
    margin-right: 20%;
}

#author-img{
    position:absolute;
    top: 500px;
    left: 180px;
}


#class{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-color: green;
    border: 5px solid black;
}

#classes{
    text-align:center;
}

#class-l{
    list-style: none;
    border: 2px solid black;
}

#hobby-t{
    background-color: blue;
    text-align: center;
}

#hobbies{
    text-align:center;
}

#hobby{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    padding: 10px;
    background-color: green;
    border: 5px solid black;
}

#friend{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align:center;
    background-color:green;
    border: 5px solid black;
}

#friends{
    position: relative; 
    right: 200px;
}

#friend-l{
    list-style: none;
}

#oldfriend-l{
    list-style: none;
    position: relative;
    right: 230px;
}

#purpose{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 10px;
    background-color: green;
    border: 5px solid black;
}

#purposes{
    text-align: center;
}

#link{
margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 10px;
    background-color: green;
    border: 5px solid black;
}

#linkz a{
    font-family: fantasy;
}

#linkz{
        text-align:center;
}