body{
    background-image: url("http://24.media.tumblr.com/24885b513f2b5994a0546ef779a28315/tumblr_mx79er9TfX1sy8acxo1_500.gif");
    background-attachment:fixed;
    background-size:cover;
    background-repeat:no-repeat;
}
h1{
    text-align:center;
    font-variant: small-caps;
    font-weight:bold;
    font-size:40px;
}
h2{
    font-size:30px;
    font-family: cursive;
}

#TableofContents a{
    font-weight:bold;
    color: #00008B;
}

#linkz a{
    font-family: fantasy;
}

#author{
    border: 5px solid black;
    background-color: green;
}

#author-t{
    text-align: center;
}

#author-i{
    width: 50%;
    height: 50%;
    float: left;
}

#author-p{
    margin-left: 20%;
    margin-right: 20%;
}

#hobby-t{
    background-color: blue;
    text-align: center;
    tablealign: center;
}

#hobbies{
    text-align:center;
}

#hobby{
    margin-left: 20%;
    margin-right: 20%;
}